.DS_Store
.git
.github
.ruff_cache
_db-dump
venv
env
prod-remote
backup
_logs/*

__RemoreLab-FE.code-workspace
.env.local
.env.test
.env.prod
.env.sample
.gitignore
.pylintrc
*.md
Dockerfile.local
Dockerfile.prod-multi
Dockerfile.test
Makefile
__RemoteLab-FE.code-workspace
docker-compose.local-img.yml
docker-compose.local.yml
docker-compose.prod.yml
docker-compose.test.yml
docker-compose.prod-live.yml
_logs/
_frontend_odoo
__vscode.code-workspace
.pre-commit-config.yaml
entrypoint.preprod.sh
entrypoint.prod.sh
entrypoint.sh
env-sample/