.DS_Store
.git
.github
.ruff_cache
venv
env
backup
_logs/*
temp

.env.local
.env.test
.env.prod
.env.sample
.gitignore
.pylintrc
*.md
Dockerfile.local
Dockerfile.test
Makefile
__DjangoMultiCat.code-workspace
