.hidden {
    display: none;
}

:root {
    --primary-color: #0d6efd;
    --primary-dark: #0a58ca;
    --gradient-start: #0d6efd;
    --gradient-end: #0143a3;
}

body {
    overflow-x: hidden;

    min-height: 100vh;
}

main {
    transition: margin var(--transition-speed) ease;
}

footer {
    background: var(--primary-dark);
    color: white;
    padding: 2rem 0;
    transition: margin var(--transition-speed) ease;
}