<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Admin</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'users:user_list' %}">Lista Utenti</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="/docs/"target="_blank">Documentazione</a></li>
      <li><a class="dropdown-item" href="/ht/" target="_blank">Django Healtcheck</a></li>
      <li><a class="dropdown-item" href="/XYZ2024-admin/" target="_blank">Admin Backend</a></li>
      <li><a class="dropdown-item" href="http://0.0.0.0:8025/" target="_blank">mailHog</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="https://app.apitally.io/traffic/superlearn?period=24h" target="_blank">APItally</a></li>
      <li><a class="dropdown-item" href="https://stats.uptimerobot.com/XKL49HBYB8" target="_blank">Uptime monitor</a></li>
      <li><a class="dropdown-item" href="https://superlearn.sentry.io/projects/superlearn/?project=4507395011182672" target="_blank">Sentry.io APM</a></li>
    </ul>
</li>