<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="{% url 'chat:home' %}" role="button" aria-expanded="false">Chat</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'chat:home' %}" >Home</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="{% url 'library:list' %}" >Libraries list</a></li>
      <li><a class="dropdown-item" href="{% url 'file:list' %}" >Files list</a></li>
      <li><a class="dropdown-item" href="{% url 'chat:list' %}" >Chats list</a></li>
      <li><a class="dropdown-item" href="{% url 'agent:list' %}" >Agents list</a></li>
    </ul>
</li>