<div id="proto-page-popup" style="display: none; z-index: 1025;" class="ds-theme ds-modal-wrapper" data-transform-origin="center">
    <div class="ds-modal">
        <div data-focus-guard="true" tabindex="0"
            style="width: 1px; height: 0px; padding: 0px; overflow: hidden; position: fixed; top: 1px; left: 1px;">
        </div>
        <div data-focus-lock-disabled="false">
            <div class="ds-theme" style="font-size: var(--ds-font-size-m); line-height: var(--ds-line-height-m);">
                <div tabindex="-1" data-autofocus="true" class="ds-modal-content ds-elevated" role="dialog"
                    style="--ds-modal-content-color: #3A3A46; font-size: var(--ds-font-size-m); line-height: var(--ds-line-height-m);">
                    <div class="ds-modal-content__header-wrapper">
                        <div class="ds-modal-content__title">COMPLETE</div>
                        <div class="ds-icon-button" tabindex="0" style="--ds-icon-button-hover-color: #474756;">
                            <div class="ds-icon" style="font-size: 12px; width: 12px; height: 12px;"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"
                                    fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M9.314.687a.97.97 0 0 1 0 1.373L2.059 9.315A.97.97 0 1 1 .686 7.943L7.941.687a.97.97 0 0 1 1.373 0z"
                                        fill="currentColor"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M.686.685a.97.97 0 0 1 1.373 0l7.255 7.256A.97.97 0 0 1 7.94 9.314L.686 2.058a.97.97 0 0 1 0-1.373z"
                                        fill="currentColor"></path>
                                </svg></div>
                        </div>
                    </div>
                    <div class="elements">
                        
                        
                        <div class="ds-flex"
                            style="padding: 12px 0px; border-bottom: 1px solid rgb(var(--ds-rgb-separator)); justify-content: space-between; align-items: center; gap: 12px;">
                            Theme<div
                                class="ds-native-select ds-native-select--filled ds-native-select--none ds-native-select--m"
                                role="none" style="width: fit-content; --ds-native-select-color: #555562;"><select
                                    class="ds-native-select__select">
                                    <option value="light">Light</option>
                                    <option value="dark" selected="">Dark</option>
                                    <option value="system">System</option>
                                </select>
                                <div class="ds-native-select__arrow" aria-hidden="true"><svg version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512"
                                        xml:space="preserve">
                                        <path d="M256,294.1L383,167c9.4-9.4,24.6-9.4,33.9,0s9.3,24.6,0,34L273,345c-9.1,9.1-23.7,9.3-33.1,0.7L95,201.1
	c-4.7-4.7-7-10.9-7-17c0-6.1,2.3-12.3,7-17c9.4-9.4,24.6-9.4,33.9,0L256,294.1z" fill="currentColor"></path>
                                    </svg></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-focus-guard="true" tabindex="0"
            style="width: 1px; height: 0px; padding: 0px; overflow: hidden; position: fixed; top: 1px; left: 1px;">
        </div>
    </div>
</div>

<div id="proto-segmented-container" style="display: none; margin-bottom: 12px; --ds-segmented-color: #5D5D6C; --ds-segmented-selected-color: #70707E;" class="ds-segmented" role="tablist">
    <div style="display: none;" role="tab" aria-selected="true" class="ds-segmented-button ds-segmented-button--selected">
        COMPLETE
        <div class="ds-segmented-separator" aria-hidden="true"></div>
        <div class="ds-segmented-button__shadow" aria-hidden="true"></div>
    </div>
</div>

<div id="proto-dropdown-menu" style="display: none; padding: 12px 0px; border-bottom: 1px solid rgb(var(--ds-rgb-separator)); justify-content: space-between; align-items: center; gap: 12px;" class="ds-flex">
    COMPLETE
    <div style="display: none; width: fit-content; --ds-native-select-color: #555562;" class="ds-native-select ds-native-select--filled ds-native-select--none ds-native-select--m" role="none">
        <select class="ds-native-select__select">
            <option value="COMPLETE" selected="">COMPLETE</option>
            <option value="COMPLETE">COMPLETE</option>
            <option value="COMPLETE">COMPLETE</option>
        </select>
        <div class="ds-native-select__arrow" aria-hidden="true">
            <svg version="1.1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512"
                xml:space="preserve">
                <path d="M256,294.1L383,167c9.4-9.4,24.6-9.4,33.9,0s9.3,24.6,0,34L273,345c-9.1,9.1-23.7,9.3-33.1,0.7L95,201.1
c-4.7-4.7-7-10.9-7-17c0-6.1,2.3-12.3,7-17c9.4-9.4,24.6-9.4,33.9,0L256,294.1z" fill="currentColor"></path>
            </svg>
        </div>
    </div>
</div>