<div id="proto-error-banner" style="display: none;" class="ds-fade-in-zoom-in-expand-top ds-toast-animation">
    <div class="ds-toast ds-toast--plain ds-toast--error">
        <div class="ds-toast__icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 20 20">
                <g fill="none">
                    <path
                        d="M10 2a8 8 0 1 1 0 16a8 8 0 0 1 0-16zm0 10.5a.75.75 0 1 0 0 1.5a.75.75 0 0 0 0-1.5zM10 6a.5.5 0 0 0-.492.41L9.5 6.5V11l.008.09a.5.5 0 0 0 .984 0L10.5 11V6.5l-.008-.09A.5.5 0 0 0 10 6z"
                        fill="currentColor"></path>
                </g>
            </svg></div>
        <div class="ds-toast__content">Operation unsuccessful. Please retry later.</div>
        <div class="ds-toast__close">
            <svg viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M9.314 1.187a.97.97 0 0 1 0 1.373L2.059 9.815A.97.97 0 1 1 .686 8.443l7.255-7.256a.97.97 0 0 1 1.373 0z"
                    fill="currentColor"></path>
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M.686 1.185a.97.97 0 0 1 1.373 0l7.255 7.256A.97.97 0 0 1 7.94 9.814L.686 2.558a.97.97 0 0 1 0-1.373z"
                    fill="currentColor"></path>
            </svg>
        </div>
    </div>
</div>
