<div id="proto-cat-item" style="display: none;" class="chat-history-item" tabindex="0">
    <div class="chat-title-text">
    </div>
    <div class="chat-item-menu" tabindex="0">
        <div class="ds-icon" style="font-size: 16px; width: 16px; height: 16px;"><svg
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path fill="currentColor" fill-rule="evenodd"
                    d="M3 12a2 2 0 1 1 4 0 2 2 0 0 1-4 0m7 0a2 2 0 1 1 4 0 2 2 0 0 1-4 0m7 0a2 2 0 1 1 4 0 2 2 0 0 1-4 0"
                    clip-rule="evenodd"></path>
            </svg></div>
    </div>
    <div class="menu-divider"></div>
    <div class="menu-hover-effect"></div>
</div>